global:
  scrape_interval: 10s
  evaluation_interval: 10s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets:
          - prometheus:9090
  - job_name: node
    static_configs:
      - targets:
          - host.docker.internal:9100
  - job_name: 'nodejs-app'
    metrics_path: '/api/metrics'
    static_configs:
      - targets:
          - host.docker.internal:3100